
#Logs
Logs/
Artifacts/
final_model/

# Byte-compiled files
__pycache__/
*.py[cod]
**/__pycache__/
***/__pycache__/
*$py.class
*.pyc
*.pyo
*.pyd

# Virtual environments
venvpro/
venv/
env/
.venv/
# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/

mlruns/
mlflow.db

#os files
.DS_Store
Thumbs.db